<div class="grid grid-cols-[30%_1fr] gap-8">
  <.simple_form for={@form} phx-change="validate" phx-submit="save">
    <.input field={@form[:title]} label="Title" />

    <.button>Save</.button>
  </.simple_form>

  <div class="flex gap-2 justify-center">
    <%= for {username, user} <- @users do %>
      <.user_avatar user={user} size="s">
        <:slot_after>
          <%= username %>
        </:slot_after>
      </.user_avatar>
    <% end %>
  </div>
</div>
