<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] h-full antialiased">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Pokerplan" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="h-full bg-background theme-light grid grid-rows-[auto_1fr]">
    <header class="w-full shadow-md py-4 px-6">
      <nav class="flex justify-between">
        <ul class="flex gap-8">
          <li class="flex items-center">
            <.link navigate={~p"/"} class="text-lg text-primary hover:text-primary-light">
              <.icon name="hero-home-solid" class="size-8" />
            </.link>
          </li>
          <li class="flex items-center">
            <.link patch={~p"/games"} class="text-lg text-primary hover:text-primary-light">
              Lobby
            </.link>
          </li>
        </ul>

        <ul class="flex gap-8">
          <li class="flex items-center gap-2">
            <!--
            <.button>
              <.icon name="hero-moon" class="size-6" />
              <.icon name="hero-sun" class="size-6" />
            </.button>
            -->

            <%= if @conn.assigns[:current_user] do %>
              <.link
                href={"https://github.com/#{@conn.assigns[:current_user].username}"}
                target="_blank"
              >
                <.user_avatar user={@conn.assigns[:current_user]} class="size-10" />
              </.link>
              <.link
                navigate={~p"/auth/signout"}
                class="text-lg text-primary hover:text-primary-light"
              >
                Signout
              </.link>
            <% else %>
              <.link
                navigate={~p"/auth/signin/github"}
                class="text-lg text-primary hover:text-primary-light"
              >
                Signin
              </.link>
            <% end %>
          </li>
        </ul>
      </nav>
    </header>

    {@inner_content}
  </body>
</html>
