<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Pokerplan" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased h-full box-border pt-20">
    <div class="w-full">
      <nav class="bg-gray-800 px-8 h-20 flex justify-between fixed top-0 left-0 right-0">
        <ul class="flex gap-8">
          <li class="flex items-center">
            <.link navigate={~p"/"} class="text-white font-mono text-xl">Home</.link>
          </li>
        </ul>

        <ul class="flex gap-8">
          <li class="flex items-center gap-2">
            <%= if @conn.assigns[:current_user] do %>
              <.link navigate={~p"/auth/signout"} class="text-white font-mono text-xl">
                Signout
              </.link>
              <.link
                href={"https://github.com/#{@conn.assigns[:current_user].username}"}
                target="_blank"
                class="text-white font-mono text-xl"
              >
                <.user_avatar user={@conn.assigns[:current_user]} size="xl" />
              </.link>
            <% else %>
              <.link navigate={~p"/auth/signin/github"} class="text-white font-mono text-xl">
                Signin
              </.link>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
    <%= @inner_content %>
  </body>
</html>
